@import url("https://fonts.googleapis.com/css?family=Montserrat");
body {
	display: flex;
	align-items: center;
	flex-direction: column;
	/* min-height: 100vh; */
	background-color: #000;
	color: #666;
	padding: 2vh auto;
}
body img {
	margin: 2vh auto;
}
body h1 {
	margin: 2vh auto;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 1.8rem;
}
body h2 {
	margin: 0 auto 2vh;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	font-size: 1.4rem;
}
body hr {
	margin: 2vh auto;
	display: block;
	width: 90vw;
	border-color: #333333;
}
.social-media-list,
.icon-list {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0 auto 1vh;
	padding: 0;
}
.fab {
	text-align: center;
	width: 1.25em;
}
.icon-list-icon {
	position: relative;
	list-style: none;
	margin: 1vh 1vw;
	cursor: pointer;
	width: 3em;
	height: 3em;
	user-select: none;
}
.svg-icon {
	opacity: 0.75;
}
.svg-icon:hover {
	opacity: 1;
}
.social-media-list .social-media-icon {
	position: relative;
	list-style: none;
	margin: 1vh 1vw;
	display: block;
	cursor: pointer;
}
.social-media-list .social-media-icon a {
	text-decoration: none;
	font-size: 4vw;
	text-shadow: 0 0 1px currentColor;
	color: #333333;
}
.social-media-list .social-media-icon a::before {
	font-family: "Font Awesome 5 Brands";
	position: absolute;
	text-align: center;
	width: 1.25em;
	top: 0;
	left: 0;
	height: 0;
	font-size: 4vw;
	overflow: hidden;
	transition: 0.6s linear;
	-webkit-transition: 0.6s ease;
	-moz-transition: 0.6s linear;
	-ms-transition: 0.6s linear;
	-o-transition: 0.6s linear;
}
.social-media-list .social-media-icon a.github::before {
	content: "\f09b";
	color: #fff;
	border-bottom: 0.1px solid currentColor !important;
}
.social-media-list .social-media-icon a.whatsapp::before {
	content: "\f232";
	color: #27ae60;
	border-bottom: 0.1px solid currentColor !important;
}
.social-media-list .social-media-icon a.instagram::before {
	content: "\f16d";
	color: #ea3145;
	border-bottom: 0.1px solid currentColor !important;
}
.social-media-list .social-media-icon a.linkedin::before {
	content: "\f08c";
	color: #0077b5;
	border-bottom: 0.1px solid currentColor !important;
}
.social-media-list .social-media-icon a.facebook::before {
	content: "\f09a";
	color: #15a3fa;
	border-bottom: 0.1px solid currentColor !important;
}
.social-media-list .social-media-icon:hover a::before,
.social-media-list .social-media-icon a:focus::before,
.social-media-list .social-media-icon a:active::before {
	height: 100%;
	text-shadow: 0 0 5px currentColor;
}
/* 
@media (min-width: 768px) {
	.social-media-list .social-media-icon {
		margin: 0 1vw;
	}
	.social-media-list .social-media-icon a,
	.social-media-list .social-media-icon a::before {
		font-size: 2vw;
	}
} */

@media (max-width: 768px) {
	.social-media-list,
	.icon-list {
		flex-direction: column;
		align-items: center;
	}
	.social-media-list .social-media-icon {
		margin: 2vh auto;
	}
	.social-media-list .social-media-icon a,
	.social-media-list .social-media-icon a::before {
		font-size: 15vw;
	}
}

/* Shining text animation */
.shine {
	background: linear-gradient(90deg, #000, #fff, #000);
	background-repeat: no-repeat;
	background-size: 80%;
	animation: animate 3s linear infinite;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255, 255, 255, 0);
}
.shine:hover {
	-webkit-text-fill-color: rgba(255, 255, 255, 0.5);
}

@keyframes animate {
	0% {
		background-position: -500%;
	}
	100% {
		background-position: 500%;
	}
}

/* Backgrtext */
.text {
	/* background-image: url(https://media1.tenor.com/images/3cbf9f4e9521c05d2162d201cd35ae0c/tenor.gif?itemid=8870480); */
	/* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif); */
	background-image: url("/images/bg5.gif");
	background-size: cover;
	background-position: center center;
	color: transparent;
	-webkit-background-clip: text;
}

.anim {
	animation: filter-animation 4s infinite;
	-webkit-animation: filter-animation 4s infinite;
}
@keyframes filter-animation {
	0% {
		filter: hue-rotate(0deg);
		-webkit-filter: hue-rotate(0deg);
	}

	100% {
		filter: hue-rotate(360deg);
		-webkit-filter: hue-rotate(360deg);
	}
}
